<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.kjsce" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Second Innings Assistant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="Second Innings Assistant"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Search"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Lostf"
            android:label="Go back home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Pill"
            android:label="Manage medications"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FinancialDetails"
            android:label="Manage finances"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Songs"
            android:label="Enjoy some music"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gps"
            android:label="SOS Activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RoutineActivity"
            android:label="@string/title_activity_routine"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <service
            android:name=".RoutineService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".PillActivity"
            android:label="@string/title_activity_pill"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".TechHelper" >
        </activity>
    </application>

</manifest>
